@if (DisplayConfirmation)
{
<div class="modal-backdrop show"></div>
<div id="exampleModal" class="modal fade show" role="dialog"
     tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" style="display:block">
    <div class="modal-dialog" role="document">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    @Title
                </h4>
                <button type="button" @onclick="onCancel" class="close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @ChildContent
            </div>
            <div class="modal-footer">
                <button type="button" @onclick="onConfirm" class="btn btn-primary">Ok</button>
                <button type="button" @onclick="onCancel" class="btn btn-secondary">Cancel</button>
            </div>
        </div>

    </div>
</div>
}

@code {

    public bool DisplayConfirmation { get; set; }
    [Parameter]
    public string Title { get; set; } = "Confirmation";
    [Parameter]
    public RenderFragment ChildContent { get; set; }
    [Parameter]
    public EventCallback onConfirm { get; set; }
    [Parameter]
    public EventCallback onCancel { get; set; }

    public void Show() => DisplayConfirmation = true;
    public void Hide() => DisplayConfirmation = false;
}
