<div>
    <p>Title: <b>@Movie.Title</b></p>
    <p>Release Date: <i>@Movie.ReleaseDate.ToString("dd MMM yyyy")</i></p>
    @if (DisplayDelete)
    {
    <div>
        <button @onclick="@(() => DeleteMovie.InvokeAsync(Movie))">Delete</button>
    </div>
    }
</div>

@code {
    [Parameter]
    public Movie Movie { get; set; }

    [Parameter]
    public bool DisplayDelete { get; set; }

    [Parameter]
    public EventCallback<Movie> DeleteMovie { get; set; }
    
}
